@model Guid

<div class="pt-4">
    <dvi class="col-8">
        <h3 class="text-black text-opacity-25 text-center pt-5">ОТЧЕТЫ ФОРМОВАНИЯ И ПЕРВИЧНОЙ ВЫДЕРЖКИ</h3>
    </dvi>
    <div class="container-fluid center-grid">
        <div class="row mx-auto mt-5 mb-5">
            <div class="col-lg-4 text-center">
                <a asp-controller="MoldingReports" asp-action="Parameters" asp-route-id=@Model class="btn btn-primary btn-lg btn-block form-control"> 
                    Отчёт по истории параметров
                </a>
            </div>
            <div class="col-lg-4 text-center">
                <a asp-controller="MoldingReports" asp-action="Errors" asp-route-id=@Model class="btn btn-primary btn-lg btn-block form-control">
                    Отчёт по истории ошибок
                </a>
            </div>
            <div class="col-lg-4 text-center">
                
                <a asp-controller="" asp-action="" asp-route-id=@Model class="btn btn-primary btn-lg btn-block form-control">
                    Отчёт на основе анализа параметров
                </a>
            </div>
        </div>
    </div>
</div>